.about .companyIntro .intro {
    height: 280px;
    position: relative;
    background-color: #f5f5f5;
}

.about .companyIntro .intro .detail {
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .companyIntro .intro p {
    line-height: 30px;
}
.about .companyIntro .intro .keywords {
    color: #0096ff;
}
.about .companyIntro .intro img{
    position: absolute;
    right: 0;
    top: 0;
}

.about .companyCulture .culture {
    display: flex;
    justify-content: space-between;
    color: white;
}

.about .companyCulture .culture .item {
    width: 386px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .companyCulture .item .title {
    margin: 20px 0 40px;
    font-size: 24px;
}

.about .companyCulture .item .explain {
    line-height: 40px;
    font-size: 26px;
}

.about .teamIntro .teamItem {
    background-color: #4A85BC;
}

.about .teamIntro .teamItem .item {
    margin: auto;
    padding: 30px 0;
    display: flex;
}

.about .teamIntro .teamItem .detail {
    margin-left: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.about .teamIntro .teamItem .post {
    margin-left: 50px;
    font-size: 20px;
    padding: 15px 0;
    border-bottom: 1px solid white;
    width: 100%;
}

.about .teamIntro .teamItem ul {
    margin-top: 15px;
    margin-left: 70px;
}


.about .teamIntro .teamItem ul li {
    float: left;
    width: 50%;
    line-height: 30px;
}

.about .aptitudeHonor .honor {
    margin-top: 60px;
    list-style: none;
}

.about .aptitudeHonor .honor li {
    width: 24%;
    height: 300px;
    float: left;
    margin-top: 5px;
    margin-left: 1%;
    cursor: pointer;
}

.about .aptitudeHonor .honor img {
    width: 100%;
    height: calc(100% - 30px);
}

.about .aptitudeHonor .honor p {
    text-align: center;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}

.about .el-dialog {
    width: 98%;
    height: 98%;
    margin-bottom: 0;
    min-width: 1200px;
    min-height: 720px;
    background-color: rgba(0, 0, 0, 0.8);
}

.about .el-dialog .el-dialog__body {
    height: calc(100% - 40px);
    box-sizing: border-box;
}

.about .el-carousel {
    height: 100%;
}

.about .el-carousel .el-carousel__container {
    height: 100%;
}

.about .el-carousel .el-carousel__item {
    display: flex;
    justify-content: center;
    align-items: center;
}
