.app {
    width: 100%;
    height: 100%;
}

.app .content {
    width: 100%;
    margin-top: 80px;
}

.app .toTop {
    width: 66px;
    height: 66px;
    background: url("../img/toTop.png");
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.app .toTop:hover {
    background: url("../img/toTop_hover.png");
}
