.case {
    background-color: #F0F2F5;
    padding-bottom: 10px;
}

.case .caseContent {
    margin: 10px auto 0;
    background-color: #fff;
    min-height: 600px;
}

.case .caseContent .nav {
    float: left;
    width: 260px;
    height: 100%;
}

.case .caseContent .nav .title {
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    text-align: center;
}

.case .caseContent .nav .caseIcon {
    display: inline-block;
    width: 14px;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.case .caseContent .nav ul {
    list-style: none;
}

.case .caseContent .nav li {
    line-height: 50px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.case .caseContent .nav li.active{
    color: white;
    background-color: #0096ff;
}

.case .caseContent .nav .arrow{
    color: white;
    float: right;
    margin-right: 10px;
}

.case .caseContent .caseDetail {
    float: left;
    width: calc(100% - 261px);
    border-left: 1px solid #eee;
}

.case .caseContent .caseDetail {
    padding: 30px 20px;
    box-sizing: border-box;
}

.case .caseContent .caseDetail h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.case .caseContent .caseDetail p {
    margin-top: 30px;
    line-height: 30px;
    color: #666;
    font-size: 16px;
}

.case .caseContent .caseDetail p:first-of-type {
    margin-top: 40px;
    color: #666;
    font-size: 14px;
}

