.contact {
    background-color: #F0F2F5;
    padding-bottom: 10px;
}

.contact .contactDetail {
    margin: 10px auto 0;
    background-color: #fff;
}

.contact .contactDetail .map {
    height: 400px;
}

.contact .contactDetail .BMapLabel {
    font-weight: bolder !important;
    font-size: 14px !important;
    height: 30px !important;
    line-height: 35px !important;
    width: 250px !important;
    text-align: center !important;
    border: none !important;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.contact .contactDetail .BMapLabel:before {
    content: '';
    border: 10px solid transparent;
    border-top-color: white;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.contact .contactDetail .contactWay {
    height: 532px;
}

.contact .contactDetail .contactWay > div {
    float: left;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
}

.contact .contactDetail .our {
    padding: 50px 0 0 100px;
    font-size: 16px;
    color: #444;
}

.contact .contactDetail .our .title {
    font-weight: bolder;
    line-height: 30px;
}

.contact .contactDetail .our img {
    margin-right: 10px;
    position: relative;
    top: 6px;
}

.contact .contactDetail .our .value {
    padding-left: 80px;
    line-height: 30px;
    margin: 5px 0;
}

.contact .contactDetail .your {
    padding: 50px 20px 0 0;
}

.contact .contactDetail .your div {
    margin-top: 20px;
}

.contact .contactDetail .your input,
.contact .contactDetail .your textarea {
    border-color: #e5e5e5 !important;
    font-size: 16px !important;
    border-radius: 2px !important;
}

.contact .contactDetail .your input::placeholder,
.contact .contactDetail .your textarea::placeholder {
   color: #999 !important;
}
