.footer {
    height: 333px;
    color: white;
    width: 100%;
    background: url("../img/foot_bg.png") center center;
}

.footer.home {
    background: none;
    color: #666;
}

.footer .companyInfo {
    height: 293px;
    box-sizing: border-box;
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer .companyInfo .detail {
    font-size: 14px
}

.footer .companyInfo .detail p{
    font-size: 14px;
    line-height: 25px;
}

.footer .companyInfo .detail p:first-child {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.footer.home .companyInfo .detail p:first-child {
    color: #333;
}

.footer .copyright {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #617495
}

.footer.home .copyright {
    border-top-color: #e5e5e5;
}
