.header {
    height: 80px;
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1280px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid #ccc;
}

.header ul {
    float: right;
    list-style: none
}

.header .menu > li {
    float: left;
    margin-left: 40px;
    position: relative;
}

.header .menu > li.active a{
    color: #409eff;
}

.header .menu > li.active:before {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #409eff;
    position: absolute;
    bottom: -10px;
}

.header .menu a {
    color: black
}

.header .el-dropdown a{
    font-size: 16px;
}

.header .el-dropdown-menu {
    top: 30px !important;
    left: -20px !important;
}


.header .el-dropdown-menu li {
    text-align: center;
}

.header .el-dropdown-menu:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -15px;
    border: 10px solid transparent;
    border-bottom-color: white;
    z-index: 20;
}

.header .el-dropdown-menu:after {
    content: '';
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -16px;
    border: 11px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}
