.home .banner img {
    width: 100%;
    height: 100%;
}

.home .product .item{
    float: left;
    width: 600px;
    text-align: center;
    font-size: 24px;
}

.home .product .item > p {
    color: #555555;
}

.home .product .item > div {
    margin-top: 30px;
    color: white;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .product .item > div p {
    line-height: 40px;
}

.home .product .item:first-child > div {
    background: url("../img/home_product_1.png") 0 0 no-repeat;
}

.home .product .item:last-child > div {
    background: url("../img/home_product_2.png") 0 0 no-repeat;
}

.home .product img {
    width: 100%;
    height: 380px;
    margin-top: 20px;
}

.home .team .teamContent .item {
    width: 1000px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
}

.home .team .item p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .team .item p.selected {
    color: #0096ff;
    position: relative;
}

.home .team .item p.selected:after {
    content: '';
    display: inline-block;
    background: url("../img/trangle.png");
    width: 28px;
    height: 14px;
    position: absolute;
    bottom: -20px;
}

.home .team .item p span {
    margin-top: 10px;
    font-size: 18px;
}

.home .team .detail {
    height: 340px;
    position: relative;
    background: url("../img/team_detail_bg.png") 0 0 no-repeat;
}

.home .team .detail img {
    top: 40px;
    position: absolute;
}

.home .team .detail p {
    position: absolute;
    height: 280px;
    width: 42%;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    line-height: 35px;
}

.home .team .detail .detailContent2,
.home .team .detail .detailContent3 {
    left: 42%;
}

.home .team .detail .img0,
.home .team .detail .img1 {
    left: 68%
}

.home .team .detail .img2,
.home .team .detail .img3,
.home .team .detail .detailContent0,
.home .team .detail .detailContent1 {
    left: 17%
}

.home .companyNews {
    padding: 60px 0;
    background-color: #f8f8f8;
}

.home .companyNews .newsItem {
    width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
}

.home .companyNews .item {
    width: 385px;
    height: 250px;
    background-color: #fff;
    transition: 0.5s;
}

.home .companyNews .item:hover {
    transform: scale(1.03);
    color: #0096ff;
}

.home .companyNews .item img {
    width: 100%;
    height: 210px;
    display: block;
}

.home .companyNews .item span {
    width: calc(100% - 20px);
    padding: 0 10px;
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.home .companyNews .item span:before {
    content: '';
    display: inline-block;
    background-color: black;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    position: relative;
    bottom: 3px;
    margin-right: 5px;
}

.home .partner .partnerItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home .partner .partnerItem img{
    width: 285px;
    height: 120px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

.home .decision {
    width: 100%;
    padding-top: 60px;
    box-sizing: border-box;
    background: url("../img/choose-bag.png") 0 0 no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0;
    position: relative;
}

.home .decision p:last-child {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.home .decision p:last-child button {
    width: 145px;
    height: 40px;
    color: #0096ff;
    border-radius: 2px;
    font-size: 16px;
}


