* {
    margin: 0;
    padding: 0
}

html, body {
    min-width: 1280px;
}


/*!*!*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*!*!*/
/*::-webkit-scrollbar {*/
    /*width: 1px;*/
    /*height: 0;*/
    /*background-color: #F5F5F5;*/
/*}*/
/*!*!*定义滚动条轨道 内阴影+圆角*!*/
/*::-webkit-scrollbar-track {*/
    /*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);*/
    /*border-radius: 10px;*/
    /*background-color: #F5F5F5;*/
/*}*/

/*!*!*定义滑块 内阴影+圆角*!*/
/*::-webkit-scrollbar-thumb {*/
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    /*background-color: #555;*/
/*}*/

.clearfix {
    zoom: 1
}

.clearfix:after {
     content: '';
     clear: both;
     display: block;
     overflow: hidden;
     height: 0;
 }

a {
    text-decoration: none
}

.module {
    margin: 60px auto;
}

.container {
    width: 1200px;
}

.topImg {
    width: 100%;
}

.shadow {
    box-shadow: 1px 1px 3px 1px rgba(72, 72, 72, 0.1);
}

.anchorBL{
    display:none;
}
