.moduleTitle {
    position: relative;
    text-align: center;
    font-size: 28px;
    margin-bottom: 60px;
}

.moduleTitle .left,
.moduleTitle .right {
    display: inline-block;
    background-color: black;
    height: 1px;
    width: 150px;
    top: 20px;
    margin: 10px;
}
