.news .newsList {
    margin: auto;
}

.news .newsList .newsItem {
    height: 245px;
    border-bottom: 1px dashed #e5e5e5;
}

.news .newsList .newsItem:hover {
    background-color: #EFF8FF;
}


.news .newsList .newsItem .top {
    height: 195px;
    padding: 10px 0;
    box-sizing: border-box;
}

.news .newsList .newsItem .picture {
    width: 260px;
    height: 150px;
    float: left;
}

.news .newsList .newsItem .right {
    width: calc(100% - 260px);
    float: left;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}

.news .newsList .newsItem .bottom {
    height: 55px;
    text-align: right;
    padding-right: 30px;
}

.news .newsList .newsItem .el-button {
    border-color: #007eff;
    color: #007eff;
    width: 120px;
    height: 40px;
}

.news .newsList .newsItem .el-button:hover {
    color: white;
    background-color: #007EFF;
}

.news .newsList .el-pagination {
    text-align: center;
    padding: 60px 0 20px;
}

.news .newsDetail {
    background-color: #F0F2F5;
    padding: 20px 0;
}

.news .newsDetail .newsContent {
    margin: auto;
    background-color: #fff;
    padding: 40px 20px 150px;
}

.news .newsDetail .newsContent h2{
    margin-bottom: 40px;
}

.news .newsDetail .newsContent p{
    font-size: 16px;
    color: #666;
    line-height: 32px;
    margin: 30px 0;
}

.news .newsDetail .newsContent p:first-of-type {
    font-size: 12px;
    color: #888;
    margin-bottom: 20px;
}

.news .newsDetail .newsContent .changeBtn {
    text-align: center;
    margin-top: 100px;
}

.news .newsDetail .changeBtn .el-button:hover {
    color: white;
    background-color: #337AB7;
}
